.heading{
      font-weight: lighter;      
}

.content{
      margin:5vh 8vw 0vh 8vw;
      display:flex;
      justify-content: space-between;
      align-items: center;
}
.mb1{
      border:1px solid gray;
      margin-right:0.5vw;
      width:11vw;
}
footer{
      text-align: center;     
      color:white;
      background-color: black;
}