      <div style="display:flex; flex-direction: column; justify-content: center; align-items: center; padding:5vh; gap:5vh;">
        <div>
            <img src="../../../assets/Ordered.png">
            <p style="text-align: center;">hurray!!! your order is confirmed<br>
                  the order id is #123456 save the order id for <br>
                  further communication..
            </p>
        </div>
        <table>
            <thead>
                  <tr>
                      <th>Email us</th>
                      <th>Contact us</th>
                      <th>Address</th>
                  </tr>
            </thead>
              <tbody>
                  <tr>
                        <td>admin@bookstore.com</td>
                        <td>+91 8323992932</td>
                        <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA
                              complex, near Kumarakom restaurant, HSR Layout,
                              Bangalore 560034</td>
                  </tr>                    
        </table>
        <div>
            <button mat-raised-button color="primary" (click)="goToDashboard()">Continue Shopping</button>
        </div>  
          
      </div>
      
  <footer>
        Copyright <mat-icon>copyright</mat-icon> 2020,BookStore Private Limited.All Rights Reserved
  </footer>

