      <div style="display:flex; flex-direction: column; justify-content: center; align-items: center; padding:5vh;">
        <div>
            <img src="../../../assets/Ordered.png">
            <p style="text-align: center;">hurray!!! your order is confirmed<br>
                  the order id is #123456 save the order id for <br>
                  further communication..
            </p>
        </div>

      
          
          
      </div>
      
  <footer>
        Copyright <mat-icon>copyright</mat-icon> 2020,BookStore Private Limited.All Rights Reserved
  </footer>

