      <div style="display:flex; flex-direction: column; justify-content: center; align-items: center; padding:5vh; gap:5vh;">
        <div>
            <img src="../../../assets/Ordered.png">
            <p style="text-align: center;">hurray!!! your order is confirmed<br>
                  the order id is #123456 save the order id for <br>
                  further communication..
            </p>
        </div>
        <!-- <table>
            <thead>
                  <tr>
                      <th>Email us</th>
                      <th>Contact us</th>
                      <th>Address</th>
                  </tr>
            </thead>
              <tbody>
                  <tr>
                        <td>admin@bookstore.com</td>
                        <td>+91 8323992932</td>
                        <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA
                              complex, near Kumarakom restaurant, HSR Layout,
                              Bangalore 560034</td>
                  </tr>                    
        </table> -->
        
        <table mat-table [dataSource]="dataSource" >

            <ng-container matColumnDef="email" >
              <th mat-header-cell *matHeaderCellDef> Email Us </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
          
            <!-- Contact_us Column -->
            <ng-container matColumnDef="contact">
              <th mat-header-cell *matHeaderCellDef> Contact Us </th>
              <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
            </ng-container>
          
            <!-- Address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element" style="border-right: none;"> {{element.address}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
        <div>
            <button mat-raised-button [ngStyle]="{'background-color':'#3371B5', 'color':'white'}" (click)="goToDashboard()">Continue Shopping</button>
        </div>  
          
      </div>
      
  <footer>
        Copyright <mat-icon>copyright</mat-icon> 2020,BookStore Private Limited.All Rights Reserved
  </footer>

