<div class="bookOuter">      
      <div class="bookimg">
            <img src="../../assets/book1.png">            
      </div>
      <div class="bookcontent">
            <span>{{bookDetails.bookName}}</span>
            <span class="grayCol">by {{bookDetails.author}}</span>
            <div style="display:flex;">
                 <div class=rating>
                        <span style="padding:5px;">4.5</span>
                        <mat-icon style="font-size: 12px;">star</mat-icon>
                  </div>
                  <label class="grayCol">(20)</label>
            </div>
            <div>
                  <span>Rs. {{bookDetails.discountPrice}} </span>
                  <del class="grayCol">Rs. {{bookDetails.price}} </del>
            </div>
      </div>
</div>
