<div class="loginCnt">
      <div class="customfields">
            <mat-label>Email Id</mat-label>
            <mat-form-field appearance="outline">                              
                  <input  matInput placeholder="Placeholder">
            </mat-form-field>
      </div>
      <div class="customfields">
            <mat-label>Password</mat-label>
            <mat-form-field appearance="outline">                              
                  <input  matInput placeholder="Placeholder">
            </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Login</button>
      <br>
      <mat-label style="align-self: center;">_____________  OR  _____________</mat-label>
      <br>

      <div class="buttons">
            <button [ngStyle]="{'width':'20vw'}" mat-raised-button color="primary">Facebook</button>
            <button [ngStyle]="{'width':'20vw'}" mat-raised-button color="primary">Google</button>
      </div>
</div>