<div class="outer">
      <div class="inner">
            <div>
                  <span style="color:#878787;" (click)="goHome()">Home /</span>
                  <span>Book(01)</span>
            </div>
            <div class="bookDetailsCnt">
                  <div class="imgButtonCnt">
                        <div style="display: flex;">
                              <div style="display: flex; flex-direction: column; gap:5px;">
                                    <img src="../../../assets/Image 1.png" alt="a1">
                                    <img src="../../../assets/Image 46.png" alt="b1">
                              </div>
                              <div class="bookImgCnt">
                                    <img class="imgBook" src="../../assets/book1.png">
                              </div>
                        </div>
                        <div class="buttonCnt">
                              <button mat-raised-button color="primary" [ngStyle]="{'background-color':'#A03037'}">ADD TO BAG</button>
                              <button mat-raised-button color="primary" [ngStyle]="{'background-color':'#333333'}"><mat-icon>favorite</mat-icon>WISHLIST</button>
                        </div>
                  </div>
      
                  <div style="display:flex; flex-direction: column; gap:20px;">
                        <div class="bookcontent">
                              <label class="bookName">{{book.bookName}}</label>
                              <span class="grayCol">by {{book.author}}</span>
                              <div style="display:flex; gap:10px;">
                                   <div class=rating>
                                          <span>4.5</span>
                                          <mat-icon style="font-size: 12px;">star</mat-icon>
                                    </div>
                                    <label class="grayCol">(20)</label>
                              </div>
                              <div>
                                    <span style="color:#0A0102">Rs. {{book.discountPrice}} </span>
                                    <del class="grayCol">Rs. {{book.price}} </del>
                              </div>
                        </div>
                        
                        <div style="width:40vw; height:1px; background-color:#9D9D9D;"></div>                        
                        <div>
                              <label class="grayCol">*Book Detail</label>
                              <p style="width:40vw; color:#373434;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident rem quam cum consequatur at. Iste natus error neque officia quisquam ducimus. Cupiditate minima aut officiis voluptatem omnis esse accusantium earum!</p>
                        </div>
                        <div style="width:40vw; height:1px; background-color: #9D9D9D;"></div>                        

                        <div class="feedback">
                              <label style="color:#0A0102; font-weight: bold;">Customer Feedback</label>      
                        </div>
                        <div style="background-color:#F5F5F5; display:flex; flex-direction: column; justify-content: center; border:1px solid#F5F5F5;">
                              <label style="color:#0A0102">Overall rating</label>
                              <!-- <div style="display: flex; color:#707070; opacity:0.5;">
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                                    <mat-icon>star</mat-icon>
                              </div> -->
                              <div class="star-rating">
                                    <mat-icon *ngFor="let star of stars" [class.filled]="star <= value" (click)="setValue(star)">star</mat-icon>
                              </div>
                              <mat-form-field style="background-color: whitesmoke">
                                    <mat-label>Favorite food</mat-label>
                                    <input matInput placeholder="Write your review">
                              </mat-form-field>
                              <button mat-button color="primary" appearance="mat-raised-button">Submit</button>
                              
                        </div>
                  </div>
            </div>
      
      
      
      </div>
      
</div>
