<div class="outer">
      <div class="inner">
            <div>
                  <span style="color:#878787;" (click)="goHome()">Home /</span>
                  <span>Book(01)</span>
            </div>
            <div class="bookDetailsCnt">
                  <div class="imgButtonCnt">
                        <div style="display: flex; gap:1vw;">
                              <div style="display: flex; flex-direction: column; gap:5px;">
                                    <img src="../../../assets/Image 1.png" alt="a1">
                                    <img src="../../../assets/Image 46.png" alt="b1">
                              </div>
                              <div class="bookImgCnt">
                                    <img class="imgBook" src="../../assets/book1.png">
                              </div>
                        </div>
                        <div class="buttonCnt">
                              <button *ngIf="!cartState" mat-raised-button color="primary" [ngStyle]="{'background-color':'#A03037'}" (click)="addToCart()">ADD TO BAG</button>
                              <div *ngIf="cartState" style="display:flex; gap:2px">
                                    <button style="clip-path: circle(); border:none; width:2vw;" (click)="reduceBook()"> -</button>
                                    <div style="width:3vw; display: flex; justify-content: center; align-items: center;" >{{bookQuantity}}</div>
                                    <button style="clip-path: circle(); border:none; width:2vw;" (click)="incrementBook()"> + </button>
                              </div>
                              <button mat-raised-button color="primary" [ngStyle]="{'background-color':'#333333'}"><mat-icon>favorite</mat-icon>WISHLIST</button>
                        </div>
                  </div>
      
                  <div style="display:flex; flex-direction: column; gap:20px;">
                        <div class="bookcontent">
                              <label class="bookName">{{book.bookName}}</label>
                              <span class="grayCol">by {{book.author}}</span>
                              <div style="display:flex; gap:10px;">
                                   <div class=rating>
                                          <span>4.5</span>
                                          <mat-icon style="font-size: 12px;">star</mat-icon>
                                    </div>
                                    <label class="grayCol">(20)</label>
                              </div>
                              <div>
                                    <span style="color:#0A0102">Rs. {{book.discountPrice}} </span>
                                    <del class="grayCol">Rs. {{book.price}} </del>
                              </div>
                        </div>
                        
                        <div style="width:40vw; height:1px; background-color:#9D9D9D;"></div>                        
                        <div>
                              <label class="grayCol">*Book Detail</label>
                              <p style="width:40vw; color:#373434;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident rem quam cum consequatur at. Iste natus error neque officia quisquam ducimus. Cupiditate minima aut officiis voluptatem omnis esse accusantium earum!</p>
                        </div>
                        <div style="width:40vw; height:1px; background-color: #9D9D9D;"></div>                        

                        <div class="feedback">
                              <label style="color:#0A0102; ">Customer Feedback</label>      
                        </div>
                        <div style="background-color:#F5F5F5; display:flex; flex-direction: column; justify-content: center; border:1px solid#F5F5F5; padding:10px;">
                              <label style="color:#0A0102">Overall rating</label>                               
                              <div class="star-rating">
                                    <mat-icon *ngFor="let star of stars" [class.filled]="star <= value" (click)="setValue(star)" >star</mat-icon>
                              </div>
                              <mat-form-field appearance="outline" [ngStyle]="{'background-color':'white'}" >
                                    <input  matInput type="text-area" placeholder="Write your review" [(ngModel)]="comment">
                              </mat-form-field>
                              <button mat-raised-button color="primary" style="width:5vw; height:4vh; margin-left: auto;"  (click)="sendFeedback()">Submit</button>
                              
                        </div>
                        <div>
                              <div style="display:flex; flex-direction: column; gap:5%;">
                                    <div *ngFor="let review of reviewList">
                                          <div style="display:flex; align-items: center; gap:2%;">
                                                <div class="profile">AC</div>
                                                <div>{{review.user_id.fullName}}</div>
                                          </div>
                                          <mat-icon *ngFor="let star of stars" [class.filled]="star <= review.rating">star</mat-icon>
                                          <p>
                                                {{review.comment}}
                                          </p>
                                          
                                    </div>
                              </div>
                              <br>



                        </div>
                  </div>
            </div>
      
      
      
      </div>
      
</div>
