<div class="outer">
      <div class="inner1">
        <img src="../../assets/shopping.png">
        <label>Online Book Shopping</label>
      </div>
      <div class="inner2">
        <div style="width:100vw; height:3vh;">
        </div>
        <mat-tab-group (selectedIndexChange)="resetForms($event)">
          <mat-tab label="LOGIN">
            <form [formGroup]="LoginForm" (ngSubmit)="loginUser()">
              <div class="loginCnt">
                <div class="customfields">
                  <div style="width:100%; height:4vh;">
                  </div>
                  <label>Email Id</label>
                  <mat-form-field appearance="outline">
                 
                    <input matInput type="email" placeholder="Email" formControlName="email">
                  </mat-form-field>
                  <div style="color:red;" *ngIf="submittedLogin && fl?.['email']?.errors?.['required']">Email is required</div>
                  <div style="color:red;" *ngIf="submittedLogin && fl?.['email']?.errors?.['email']">Email should be valid</div>
                </div>
                <div class="customfields">
                  <label>Password</label>
                  <mat-form-field appearance="outline">
                   
                    <input matInput type="password" placeholder="password" formControlName="password">
                  </mat-form-field>
                  <div style="color:red;" *ngIf="submittedLogin && fl?.['password']?.errors?.['required']">Password is required</div>
                  <div style="color:red;" *ngIf="submittedLogin && fl?.['password']?.errors?.['minlength']">Password should have atleast 6 characters</div>
                </div>
                <br> 
                <button mat-raised-button [ngStyle]="{'background-color':'#A03037', 'color':'#FFFFFF'}" type="submit">Login</button>
                <br>
                <label style="align-self: center;">_____________ OR _____________</label>
                <br>
                <div class="b1">
                  <button [ngStyle]="{'width':'20vw'}" mat-raised-button [ngStyle]="{'background-color':'#4266B2', 'color':'#FFFFFF'}">Facebook</button>
                  <button [ngStyle]="{'width':'20vw'}" mat-raised-button [ngStyle]="{'background-color':'#F5F5F5', 'color':'#0A0102'}">Google</button>
                </div>
              </div>
            </form>
          </mat-tab>
    
          <!-- REGISTER FORM STARTS-->
          <mat-tab label="SIGNUP">
            <form [formGroup]="RegisterForm" (ngSubmit)="registerUser()">
              <div class="signUp">
                <br>
                <div class="customfields">
                  <label>Full Name</label>
                  <mat-form-field appearance="outline">                    
                    <input matInput type="text" placeholder="Full Name" formControlName="name">
                  </mat-form-field>
                  <div style="color:red;" *ngIf="submittedRegister && fr?.['name']?.errors?.['required']">Full Name is required</div>
                  <div style="color:red;" *ngIf="submittedRegister && fr?.['name']?.errors?.['minlength']">Name should have at least 3 characters</div>
                </div>
                <div class="customfields">
                  <label>Email Id</label>
                  <mat-form-field appearance="outline">
                    <input matInput type="text" placeholder="Email Id" formControlName="email">
                  </mat-form-field>
                  <div style="color:red;" *ngIf="submittedRegister && fr?.['email']?.errors?.['required']">Email is required</div>
                  <div style="color:red;" *ngIf="submittedRegister && fr?.['email']?.errors?.['email']">Email should be valid</div>
                </div>
                <div class="customfields">
                  <label>Password</label>
                  <mat-form-field appearance="outline">
                    <input matInput type="password" placeholder="Password" formControlName="pswd">
                  </mat-form-field>
                  <div style="color:red;" *ngIf="submittedRegister && fr?.['pswd']?.errors?.['required']">Password is required</div>
                  <div style="color:red;" *ngIf="submittedRegister && fr?.['pswd']?.errors?.['minlength']">Password should have atleast 6 characters</div>
                </div>
                <div class="customfields">
                  <label>Mobile Number</label>
                  <mat-form-field appearance="outline">
                    <input matInput type="number" placeholder="Mobile Number" formControlName="mno">
                  </mat-form-field>
                  <div style="color:red;" *ngIf="submittedRegister && fr?.['mno']?.errors?.['required']">Mobile No. is required</div>
                  <div style="color:red;" *ngIf="submittedRegister && fr?.['mno']?.errors?.['minlength']">Mobile No. should have atleast 10 digits</div>
                </div>
                <button [ngStyle]="{'width':'30vw'}" mat-raised-button [ngStyle]="{'background-color':'#A03037','color':'#FFFFFF'}" type="submit">Signup</button>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    