/* note that ng deep is used for  changing the style of child component from parent component
and angular uses emulated encapsulation which means that if you applied some css in child component and 
like to all h1 tags directly  then that css won't get applied in parent component. */

.outer{
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.31);
margin: 0;
padding:0;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
      --mdc-tab-indicator-active-indicator-color: #A03037;
      --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
      --mat-tab-header-pagination-icon-color: #000;
      --mat-tab-header-inactive-label-text-color: #878787;
      --mat-tab-header-active-label-text-color: #0A0102;
      --mat-tab-header-active-ripple-color: #A03037;
      --mat-tab-header-inactive-ripple-color: #878787;
      --mat-tab-header-inactive-focus-label-text-color: #878787;
      --mat-tab-header-inactive-hover-label-text-color: #878787;
      --mat-tab-header-active-focus-label-text-color:#0A0102;
      --mat-tab-header-active-hover-label-text-color:#0A0102;
      --mat-tab-header-active-focus-indicator-color: #A03037;
      --mat-tab-header-active-hover-indicator-color: #A03037;
  }

  ::ng-deep .mat-mdc-tab-header {
      --mat-tab-header-label-text-font: Roboto, sans-serif;
      --mat-tab-header-label-text-size: 25px;
      --mat-tab-header-label-text-tracking: 0.0892857143em;
      --mat-tab-header-label-text-line-height: 36px;
      --mat-tab-header-label-text-weight: 500;
  }
  ::ng-deep .mat-mdc-form-field-subscript-wrapper{
      height:0px;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
      height: 20px;
  }
  /* .mat-mdc-tab-header {
      display: flex;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      --mdc-tab-indicator-active-indicator-width: 10px;
      --mdc-tab-indicator-active-indicator-shape: 0;
      --mdc-secondary-navigation-tab-container-height: 48px;
  } */

  ::ng-deep.mdc-tab-indicator__content--underline {
      align-self: flex-end;
      box-sizing: border-box;
      width: 22px!important ;
      border-top-style: solid;
  }

.inner1{
      background-color: white;
      width:25vw;
      height:60vh;
      border-radius:10px;
      padding: 2%;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:5vh;
}
.inner1 img{
      width:15vw;
      height:30vh;
      clip-path: circle();
}
.inner1 label{
      font-size: 2rem;
}
.inner2{
      background-color: white;
      width:30vw;
      height:80vh;
      border-radius:10px;
      padding: 0px 3%;
      margin-left: -60px;
}
.customfields{
      display:flex;
      flex-direction: column;
}
.signUp{
      display:flex;
      flex-direction:column;
      justify-content: center;
      gap:1.5vh;
      overflow: hidden;
}

.loginCnt{
      display: flex;
      flex-direction: column;
      gap: 2vh;
      padding: 2%;
}
.b1{
      display:flex;
      gap:2%;
      justify-content: center;
}

    
      