/* note that ng deep is used for  changing the style of child component from parent component
and angular uses emulated encapsulation which means that if you applied some css in child component and 
like to all h1 tags directly  then that css won't get applied in parent component. */

.outer{
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.31);
margin: 0;
padding:0;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
}

/* .mat-tab-group.mat-primary .mat-tab-label.mat-tab-label-active {
      color: black !important; 
      font-weight: bold !important; 
    }

.mat-ink-bar {
background: #A03037!important;
width:10px!important;
} */



.inner1{
      background-color: white;
      width:25vw;
      height:60vh;
      border-radius:10px;
      padding: 2%;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:5vh;
}
.inner1 img{
      width:15vw;
      height:30vh;
      clip-path: circle();
}
.inner1 label{
      font-size: 2rem;
}
.inner2{
      background-color: white;
      width:30vw;
      height:80vh;
      border-radius:10px;
      padding: 0px 3%;
      margin-left: -60px;
}
.customfields{
      display:flex;
      flex-direction: column;
}
.signUp{
      display:flex;
      flex-direction:column;
      justify-content: center;
      gap:1.5vh;
      overflow: hidden;
}

.loginCnt{
      display: flex;
      flex-direction: column;
      gap: 2vh;
      padding: 2%;
}
.b1{
      display:flex;
      gap:2%;
      justify-content: center;
}

    
      